h1 {
    width: 65px;
    color: orange;
    font-family: sans-serif;
}

ul {
    background-color: rgb(255,119,119);
}

.bgcolor {
    background-color: rgb(119,119,119);
}

body {
    font-size: 16px;
    font-style: italic;
    text-align: left;
}

p {
    font-weight: 600;
    font-size: 3em;
    line-height: 2em;
    text-decoration: underline;
}

.amarelo{
    background-color: yellow;
    width: 58px;
}
.vermelho {
    background-color: red;
    width: 63px;
}
.marrom {
    background-color: brown;
    width: 55px;
}