* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #717171;
  font-size: 1.2em;
  margin: 9px;
}

h1 {
  font-size: 1.8em;
}

img {
  max-width: 100%;
  text-align: center;
}

figure {
  margin: 15px;
}

@media screen and (min-width:768px) {
  * {
    margin: 3px;
  }
  body {
    font-size: 1.3em;
    background-color: #978585;
  }
  .containerImg {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-height: 1400px;
  }
  figure {
    width: 45%;
    margin-right: 4.5%;
  }
}

@media screen and (min-width:916px) {
  
}